<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Cyber</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="logo">
      <img src="images/Logo.png" />
    </div>


    <div class="search">
      <div class="search-box">
        <button><img src="images/Search.png" /></button>
        <input type="text" placeholder="Search">

      </div>
    </div>

    <div class="list">
      <ul class="list-links">
        <li><a href="/">Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact us</a></li>
        <li><a>blog</a></li>
      </ul>
    </div>
    <div class="icons">
      <% if (user){%>
        <a href="">
          <img class="one" src="images/1.png" />
        </a>
        <a href="/shoppingCard">
          <img class="two" src="images/Cart1.png" />
        </a>
        <a href="/profile">
          <img class="three" src="images/Vector.png" />
        </a>
        <%}else{%>
          <a href="/login_signup">
            <img class="three" src="images/Vector.png" />
          </a>
          <%}%>
    </div>

  </header>
  <section class="section1">
    <div class="back">
      <div class="text">
        <div class="text-in">
          <p class="text1">Pro.Beyond.</p>
          <h1 class="text2">iPhone 17 <strong>Pro Max</strong></h1>
          <p class="text3">Created to change everything for the better. For everyone.</p>
          <a class="btn" href="/product/1">Shop Now</a>
        </div>
      </div>
      <div class="image"><img src="images/iphone-card-40-government-202509 (1).png" /></div>
    </div>
  </section>
  <section class="section2">
    <div class="mac">
      <div class="mac-text">
        <h1>Macbook</br> <strong>Air</strong></h1>
        <p>The new 15‑inch MacBook Air makes</br> room for more of what you love with</br> a spacious Liquid Retina
          display.</p>
        </br><a class="macbtn" href="/product/10">Shop Now</a>
      </div>
      <img class="" src="images/mba15-m4-skyblue-gallery1-202503.png" />
    </div>
    <div class="ps">
      <div class="ps-text">
        <h1>Playstation<strong> 5</strong></br></h1>
        <p>Incredibly powerful CPUs, GPUs, and an</br> SSD with integrated I/O will redefine</br> your PlayStation
          experience.</p>
        </br><a class="psbtn" href="/product/6">Shop Now</a>
      </div>
      <img class="" src="images/PlayStation.png" />
    </div>
    <div class="air">
      <div class="air-text">
        <h1>Apple</br>AirPods<strong> Max</strong></h1>
        <p>Computational audio. Listen,</br> it's powerful</p>
        </br><a class="airbtn" href="/product/8">Shop Now</a>
      </div>
      <img class="" src="images/bento_1_airpod_max_midnight__4jy1tkqh9qay_large.png" />
    </div>
    <div class="vis">
      <div class="vis-text">
        <h1>Apple</br>Vision<strong> Pro</strong></h1>
        <p>A revolutionary device for </br>immersive spatial experiences.</p>
        </br><a class="visbtn" href="/product/5">Shop Now</a>
      </div>
      <img class="" src="images/image 36.png" />
    </div>
  </section>

  <!-- Search With Browsing  -->
  <section class="section3">
    <div class="category-section">
      <h2>Browse By Category </h2>
      <div class="category">
        <div class="categories">
          <a class="category-card" href="/category/1"><img src="images/Phones.png" alt=""><span>Phones</span></a>
          <a class="category-card" href="/category/2"><img src="images/Smart Watches.png" alt=""><span>Smart
              Watches</span></a>
          <a class="category-card" href="/category/3"><img src="images/Cameras.png" alt=""><span>Cameras</span></a>
          <a class="category-card" href="/category/4"><img src="images/Headphones.png"
              alt=""><span>Headphones</span></a>
          <a class="category-card" href="/category/5"><img src="images/Computers.png" alt=""><span>Computers</span></a>
          <a class="category-card" href="/category/6"><img src="images/Gaming.png" alt=""><span>Gaming</span></a>
        </div>

      </div>
    </div>
  </section>
  <section class="section3.5">
    <div class="color">
      <div class="color-in1">
        <h1>PRO</h1>
      </div>
      <div class="color-in3">
        <h1>iPhon 17</h1>
      </div>
      <div class="color-in2"><img src="images/highlights_design_endframe__flnga0hibmeu_large (1).png" alt=""></div>
    </div>
  </section>
  <section class="section4">
    <div class="product-section">
      <h2></h2>
      <div class="product">
        <div class="products">

          <% content.forEach(product=>{ %>
            <div class="product-card<%=product.id%>">
              <div class="card41"><img src="images/Favorite_duotone.png" alt=""></div>
              <div class="card42"><img src="Recources/image/<%= product.id %>_<%= product.name %>/1.png" alt=""></div>
              <div class="card43">
                <p>
                  <%= product.name %></br></br>
                </p>
              </div>
              <div class="card44"><strong>$<%=product.price%></strong></div>
              <div class="card45"><a class="btnp" href="/product/<%= product.id %>">Shop Now</a></div>
            </div>
            <% }) %>

        </div>
      </div>
    </div>
  </section>
  <section class="section55">
    <div class="section55in">
      <div class="section55text">
        <h1>iMac</h1>
      </div>
      <div class="section55img"><img src="images\imac-touch-id-blue-gallery-1-202410.png" alt=""></div>
      <div class="btnimac"><a class="imacbtn" href="/product/1">buy Now</a></div>
    </div>
  </section>
  <section class="section6">
    <div class="product">
      <div class="productt">
        <% randomContent.forEach(product=>{ %>
          <div class="product-card<%=product.id%>">
            <div class="card41"><img src="images/Favorite_duotone.png" alt=""></div>
            <div class="card42"><img src="Recources/image/<%= product.id %>_<%= product.name %>/1.png" alt=""></div>
            <div class="card43">
              <p>
                <%= product.name %></br></br>
              </p>
            </div>
            <div class="card44"><strong>$<%= product.price %></strong></div>
            <div class="card45"><a class="btnp" href="/product/<%= product.id %>">Shop Now</a></div>
          </div>
          <% }) %>

      </div>
  </section>
  <section class="section7">
    <div class="section7-in">
      <img src="images/Banner 2.png" alt="">
    </div>
  </section>
  <footer>
    <div class="footers">
      <div class="footer-col footer-brand">
        <h2>cyber</h2>
        <p>We are a residential interior design</br> studio in Portland, creating more than</br> spaces we craft
          experiences</p>
        <div class="fimg">
          <a href="https://t.me/ace_ven3"><img src="images/Twitter.png" alt=""></a>
          <a href=""><img src="images/Vector12.png" alt=""></a>
          <a href=""><img src="images/Vector10.png" alt=""></a>
          <a href=""><img src="images/Instagram.png" alt=""></a>
        </div>
      </div>
      <div class="footer-col">
        <h3>Services</h3>
        <ul>
          <li><a>Bonus program</a></li>
          <li><a>Gift cards</a></li>
          <li><a>Credit and payment</a></li>
          <li><a>Service contracts</a></li>
          <li><a>Non-cash account</a></li>
          <li><a>Payment</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Assistance to the buyer</h3>
        <ul>
          <li><a>Find an order</a></li>
          <li><a>Terms of delivery</a></li>
          <li><a>Exchange and return of goods</a></li>
          <li><a>Guarantee</a></li>
          <li><a>FAQ</a></li>
          <li><a>Terms of use</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      © 2025 Cyber Studio. All rights reserved.
    </div>
  </footer>

</body>

</html>